<div class="row">
  <div class="col-lg-6 col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-category">Fertirrigação (Dia/Mês)</h5>
        <h4 class="card-title">Agendamentos</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Início
              </th>
              <th>
                Fim
              </th>
              <th>
                Seção
              </th>
              <th class="text-right">
                Ativo
              </th>
            </thead>
            <tbody>
              <% schedulings.forEach(function(scheduling) { %>
                <tr>
                  <td>
                    <%= scheduling.executeOn %>
                  </td>
                  <td>
                    <%= scheduling.stopOn %>
                  </td>
                  <td class="text-center">
                    <%= scheduling.section %>
                  </td>
                  <td class="text-right <%= scheduling.active ? "text-success" : "text-danger" %>">
                    <b><%= scheduling.active ? "Sim" : "Não" %></b>
                  </td>
                  <td>
                    <a type="button" rel="tooltip" href="/inicio/del_horario/<%=scheduling._id%>" title="Apagar" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </a>
                  </td>
                </tr>
              <% }); %> 
              
            </tbody>
          </table>
        </div>
        <form action="/inicio" method="POST">
          <div class="row">
            <div class="col pr-1">
              <div class="form-group">
                <label>Início</label>
                <input type="time" name="time1" class="form-control" placeholder="" value="" required>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>Fim</label>
                <input type="time" name="time2" class="form-control" placeholder="" value="" required>
              </div>
            </div>
            <div class="col pl-1">
              <div class="form-group">
                <label>Seção</label>
                <input type="number" name="section" class="form-control" placeholder="" value="" required>
              </div>
            </div>
            
          </div>
          <input class="btn btn-success" type="submit" value="Agendar">
          
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="card "> <!--card-tasks-->
      <div class="card-header ">
        <h5 class="card-category">Visão Geral</h5>
        <h4 class="card-title">Últimas 24h</h4>
      </div>
      <div class="card-body">
        <div class=" table-responsive"><!--table-full-width-->
          <table class="table">
            <thead class=" text-primary">
              <th>Início</th>
              <th>Fim</th>
              <th>Seção</th>
              <th class="text-right"> Status</th>
            </thead>
            <tbody>
              <% historics.forEach(function(historic) {  %>
                <tr>
                  <td>
                    <%= (historic.startDate==null) ? "Não registrado" : historic.startDate.toLocaleString('pt-BR', { hour12: false }) %>
                  </td>
                  <td>
                    <%= (historic.endDate==null) ? "Não registrado" : historic.endDate.toLocaleString('pt-BR', { hour12: false }) %>
                  </td>
                  <td>
                    <%= historic.section %>
                  </td>
                  <td class="text-right <%= historic.error ? "text-danger" : "text-success" %>">
                    <% if (historic.error) { %>
                      <b>Erro</b>
                    <% } else if (historic.error == false && historic.endDate==null) { %>
                      <b>Andamento</b>
                    <% } else if (historic.error == false) { %>
                      <b>Completo</b>
                    <% } %>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  
</div>
