<div class="row">
  <div class="col-lg-5 col-md-5">
    <div class="card">
      <div class="card-header">
        <h5 class="card-category">Fertirrigação (Dia/Mês)</h5>
        <h4 class="card-title">Agendamentos</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Início
              </th>
              <th>
                Fim
              </th>
              <th>
                Seção
              </th>
              <th class="text-right">
                Ativo
              </th>
            </thead>
            <tbody>
              <% schedulings.forEach(function(scheduling) { %>
                <tr>
                  <td>
                    <%= scheduling.executeOn %>
                  </td>
                  <td>
                    <%= scheduling.stopOn %>
                  </td>
                  <td class="text-center">
                    <%= scheduling.section %>
                  </td>
                  <td class="text-right <%= scheduling.active ? "text-success" : "text-danger" %>">
                    <%= scheduling.active ? "Sim" : "Não" %>
                  </td>
                  <td>
                    <a type="button" rel="tooltip" href="/inicio/del_horario/<%=scheduling._id%>" title="Apagar" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </a>
                  </td>
                </tr>
              <% }); %> 
              
            </tbody>
          </table>
        </div>
        <form class="" action="/inicio" method="POST">
          <div class="row">
            <div class="col pr-1">
              <div class="form-group">
                <label>Início</label>
                <input type="time" name="time1" class="form-control" placeholder="" value="">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>Fim</label>
                <input type="time" name="time2" class="form-control" placeholder="" value="">
              </div>
            </div>
            <div class="col pl-1">
              <div class="form-group">
                <label>Seção</label>
                <input type="number" name="section" class="form-control" placeholder="" value="">
              </div>
            </div>
            
          </div>
          <input class="btn btn-success" type="submit" value="Agendar">
          
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="card card-tasks">
      <div class="card-header ">
        <h5 class="card-category">Em breve</h5>
        <h4 class="card-title">Visão Geral</h4>
      </div>
      <div class="card-body ">
        <div class="table-full-width table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" checked>
                    <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>
                <td class="text-left">Texto</td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                  <i class="now-ui-icons ui-2_settings-90"></i>
                  </button>
                  <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                  <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">
                    <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>
                <td class="text-left">Texto</td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                  <i class="now-ui-icons ui-2_settings-90"></i>
                  </button>
                  <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                  <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" checked>
                    <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>
                <td class="text-left">Texto
                </td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                  <i class="now-ui-icons ui-2_settings-90"></i>
                  </button>
                  <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                  <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  
</div>
